@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
 margin: 0px;
 padding: 0%;  
 font-family: 'Open Sans', sans-serif; 
 background: #fff;
}
nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  
    position: sticky;
    top: 0;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav> ul > li{
    float: left;
    position: relative;
}
nav > ul >li > a {
    padding: 20px 30px;
    color: rgb(0, 0, 0);
    text-shadow:  2px 2px 4px rgba(0,0,0, .2);
}
nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}
nav li{
    list-style-type: none;
    width: 180px;

}
.submenu{
    display: none;
}
nav{
    width: 100%;
    text-align: center;

  
 
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav li:hover .submenu{
    display: inline-block;
    position : absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li{
    boder-bottom: 1px solid #CCC;
}
.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 100px;
}
.menu-Acceuil:hover{
    border-top : 3px solid rgb(0, 0, 0);
    background-color:RGBa(220,220,220,0.15);

   
}
.menu-Renovation:hover{
    border-top : 3px solid rgb(0, 0, 0);
    background-color:RGBa(220,220,220,0.15);
}
.menu-Depannage:hover{
    border-top : 3px solid rgb(0, 0, 0);
    background-color:RGBa(220,220,220,0.15);
}
.menu-Decoration:hover{
    border-top : 3px solid rgb(0, 0, 0);
    background-color:RGBa(220,220,220,0.15);
}
.menu-Home:hover{
    border-top : 3px solid rgb(0, 0, 0);
    background-color:RGBa(220,220,220,0.15);
}
.menu-Projet:hover{
    border-top : 3px solid rgb(0, 0, 0);
    background-color:RGBa(220,220,220,0.15);
}
.menu-Contact:hover{
    border-top : 3px solid rgb(0, 0, 0);
    background-color:RGBa(220,220,220,0.15);
}
.submenu{
    background-color:RGBa(220,220,220,2);
    opacity: 0.8;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.submenu li:hover a {
    color : rgb(0, 0, 0);
    font-weight: bold;
}

p{
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    width: 600px;
height: 300px;
transition-duration: 1.5s;
}
.logo:hover{

    transform: scale(1.3);
}
.fond{

  width: 100%;
  height: 100%;
  margin-bottom: -2%;
}
.grille {
    max-width: 1300px;
    width: 80%;
    height: 600px;
    margin: 50px auto;
    /* border: 1px solid #333; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;

}
.grid-item {
    width: 300px;
    height: 200px;
    background: #333;
   
}

.blood{
    width: 100%;
    border : 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.63);

}
.blood2{
    width: 100%;
    border : 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
   
}
